.image img {
    display: none;
    width: 15rem;
    flex-grow: 1;
}
.login-container{
    background-color: #f3f8ca ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5F8DE;
    font-weight: 300;
    position: relative;
    font-family: "Roboto";
    font-size: .9rem;
}

select[id="individual"] {
    margin-bottom: .5rem;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-note p{
    color: #000000;
    font-size: 1.6rem;
    font-weight: 500;
}
.form-login {
    background-color: #002A22;
    padding: 6rem 2rem;
}
.form-2-login {
    display: flex;
    flex-direction: column; 
}

.form-2-el .form-input {
    display: flex;
    flex-direction: column;
}

.form-2-el .login-block {
    align-self: center;
    
}

.form-2-el button {
    padding: .3rem .7rem;
    background-color: #ffffff;
    border-style: none;
}

.form-2-el button:hover {
    background-color: #F56314;
    color: #ffffff;
}

/* media queries */
@media (min-width: 991.98px) {
    .image img {
        display: block;
    }
  }

.login-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-link {
    text-decoration: none;
    margin-top: .3rem;
    font-size: .9rem;
    color: #002A22;
    font-weight: 400;
}