.image img {
    display: none;
    width: 15rem;
    flex-grow: 1;
}
.login-container{
    background-color: #f3f8ca ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5F8DE;
    font-weight: 300;
}
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-note p{
    color: #000000;
    font-size: 1.6rem;
    font-weight: 500;
}
.form-el {
    background-color: #002A22;
    padding: 6rem 2rem;
}
.form-2-el {
    display: flex;
    flex-direction: column; 
}

.form-2-el .form-input {
    display: flex;
    flex-direction: column;
}

.form-2-el .login-block {
    align-self: center;
    
}

.form-2-el button {
    padding: .3rem .7rem;
    background-color: #ffffff;
    border-style: none;
}

.form-2-el button:hover {
    background-color: #F56314;
    color: #ffffff;
}


