.menu-container {
   display: flex;
   position: relative;
   margin: 0;
   padding: .5rem;

}
.logo {
   font-size: 2rem;
   text-decoration: none;
   color:  hsl(169, 100%, 8%);;
}
.nav-item{
   list-style-type: none;
   /* position: absolute; */

}
.nav-item a {
   text-decoration: none;
   color: #ffffff;

}
.menu-section {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 2rem; 
}
.navlist {
   display: none;
   flex-direction: column;
   background-color: hsl(169, 100%, 8%);
   position: fixed;
   left: 0;
   gap: 2rem;
   padding: 2rem;
   height: 100vh;
   z-index: 3;

}
.menu-btn {
   color:  #ffffff;
   font-size: 1.5rem;
   padding: .2rem;
}
.btn-menu {
   position: absolute;
   right: 50px;
   top: -1rem;
   border-style: none;
   background-color: hsl(169, 100%, 8%);
   /* z-index: 2; */
}
.log-link {
   text-decoration: none;
   color: #ffffff;
}
.log-out {
   gap: 2rem;
   padding: 2rem;
}
.nav-logout {
   list-style-type: none;
}