

.stud-block, .teach-block, .parent-block, .earning  {
    width: 40%;
    display: flex;
    gap: 20px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 1px 1px rgb(20, 20, 20, 0.1);

}

.stats-block {
    background-color: #F5F8DE;
    display: flex;
    justify-content: center;
}
.stat {
    display: flex;
    flex-direction: column;
}
.stat p {
    margin: 0;
}

.fa-icon {
    font-size: 2rem;
}

.stat p:nth-child(2) {
    font-size: 2.5rem;

}